.container {
  display: inline-block;
  margin-left: 80px;
}

.infoTitle {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.imgInput {
  display: none;
}

.nonImg {
  display: inline-block;
  padding: 227px;
  background-color: #c4c4c4;
  cursor: pointer;
  background-image: url("../../asset/icon-imgUpload.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.previewImg {
  width: 454px;
  height: 454px;
  object-fit: fill;
  cursor: pointer;
}
