.productInfo {
  margin-left: 40px;
}

.infoTitle {
  margin-bottom: 10px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.productNameConatainer {
  position: relative;
}

.productNameInput {
  width: 826px;
  padding: 17px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.productNameLength {
  position: absolute;
  top: 50px;
  right: 17px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
}

.productPriceContainer,
.productShipping,
.productStockContainer {
  margin-top: 16px;
}

.priceBox {
  width: 221px;
  height: 54px;
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  overflow: hidden;
}

.priceBox::after {
  display: inline-block;
  position: absolute;
  right: 0;
  content: "원";
  padding: 18px 19px;
  border-right: none;
  background: #c4c4c4;
  color: #ffffff;
}

.priceInput {
  margin: 16px 0px 0px 16px;
  border: none;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.parcelShipping,
.directShipping {
  width: 220px;
  margin-bottom: 16px;
  padding: 17px 0px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.directShipping {
  margin-left: 10px;
}

.clicked {
  color: #ffffff;
  background: #21bf48;
}

.productStockContainer .priceBox::after {
  display: inline-block;
  position: absolute;
  right: 0;
  content: "개";
  padding: 18px 19px;
  border-right: none;
  background: #c4c4c4;
  color: #ffffff;
}
