.BtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 3;
  grid-row: 3;
}

.cancelBtn,
.saveBtn {
  width: 200px;
  padding: 19px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cancelBtn {
  border: 1px solid #c4c4c4;
  background: #ffffff;
  color: #767676;
}

.saveBtn {
  margin-left: 10px;
  border: none;
  background: #21bf48;
  color: #ffffff;
}
