.pageTitle {
  margin: 44px 0px 42px 100px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.mainContentBox {
  display: flex;
}
