.cartItemContainer {
  display: flex;
  width: 1280px;
  padding-left: 28px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  align-items: center;
}

.productImg {
  width: 160px;
  height: 160px;
  margin: 20px 0px 20px 40px;
  box-shadow: 1px 1px 5px 1px #000000;
  object-fit: fill;
  border-radius: 10px;
}

.productInfoContainer {
  width: 200px;
  margin-left: 35px;
}

.storeName {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

.productName {
  margin: 10px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.productPrice {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.shipping {
  margin-top: 40px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

.productInfoCount {
  display: flex;
  margin-left: 115px;
}
