.cautionTitle {
  margin-left: 100px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #eb5757;
}

.cautionText {
  width: 320px;
  margin: 10px 0px 0px 100px;
  padding: 20px;
  border-radius: 5px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: #ffefe8;
}

.cautionText p:not(:last-of-type) {
  padding-bottom: 20px;
}
