.cartContainer {
  text-align: center;
}

.cartContainer:hover {
  cursor: pointer;
}

.cartContainer::after {
  content: "장바구니";
  display: block;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.cart {
  display: block;
  margin: auto;
}

.myPageContainer {
  margin-left: 30px;
}

.myPageContainer:hover {
  cursor: pointer;
}

.myPageContainer::after {
  content: "마이페이지";
  display: block;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.myPage {
  display: block;
  margin: auto;
}
