.myPageContainer {
  margin-left: 30px;
}

.myPageContainer:hover {
  cursor: pointer;
}

.myPageContainer::after {
  content: "마이페이지";
  display: block;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.myPage {
  display: block;
  margin: auto;
}

.sellerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  padding: 8px 0px;
  margin-left: 30px;
  background: #21bf48;
  border-radius: 5px;
}

.sellerText {
  margin-left: 12px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
