.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  margin-bottom: 70px;
}

.logoContainer img {
  width: 238px;
}

.loginType {
  position: relative;
  top: 10px;
}

.loginType button {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.buyer,
.seller {
  width: 275px;
  padding: 20px 0px;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 0px 0px;
  background: #f2f2f2;
}

.loginType .clicked {
  background-color: #ffffff;
  z-index: 1;
  border-bottom: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 34px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
}

.loginForm input {
  width: 480px;
  height: 60px;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.loginForm input:focus {
  outline: none;
}

.loginForm label {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.loginBtn {
  background: #21bf48;
  border-radius: 5px;
  margin-top: 36px;
  padding: 19px 0px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid transparent;
  text-align: center;
  color: #ffffff;
}

.loginBtn:hover {
  cursor: pointer;
}

.join_findContainer {
  display: flex;
  margin-top: 30px;
}

.signUp,
.findPw {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.signUp:hover,
.findPw:hover {
  cursor: pointer;
}

.signUp::after {
  content: "ㅣ";
  margin: 0px 10px;
  color: #333333;
}
