/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.deleteBtn {
  display: block;
  margin: 18px 18px auto auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.deleteBtn:hover {
  cursor: pointer;
}

.mainText {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btnContainer {
  margin-top: 40px;
  text-align: center;
}

.cancelBtn {
  margin-right: 10px;
  padding: 10px 34.25px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.acceptBtn {
  padding: 10px 34.25px;
  background: #21bf48;
  border: none;
  border-radius: 5px;
}

.acceptBtn:hover,
.cancelBtn:hover {
  cursor: pointer;
}
