.userContainer {
  margin-left: 30px;
}

.userContainer:hover {
  cursor: pointer;
}

.isLoginImg {
  display: block;
  margin: auto;
}

.login::after {
  content: "로그인";
  display: block;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.mypage::after {
  content: "마이페이지";
  display: block;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}
