.productInfoPrice {
  margin-left: 170px;
}

.sumPrice {
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #eb5757;
}

.sumPrice::after {
  content: "원";
}

.orderBtn {
  margin-top: 25px;
  padding: 10px 35px;
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: #ffffff;
  background: #21bf48;
  outline: none;
  border: none;
}

.orderBtn:hover {
  cursor: pointer;
}
