.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 80px auto;
}

.productList {
  width: 380px;
  margin: 15px auto;
}

.productImg {
  width: 380px;
  height: 380px;
  object-fit: fill;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.productStoreName {
  margin: 16px 0px 10px 0;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #767676;
}

.productName {
  margin-bottom: 10px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.productPrice {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.productPrice::after {
  content: "원";
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
